﻿<section class="content-header">
    <h1>
        Sharing Center
        <small>items I'm sharing</small>
    </h1>
</section>
<section class="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title"><i class="fa fa-folder-open"></i> Folders</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" ng-click="addFolder()" uib-tooltip="Share New Folder">
                    <i class="fa fa-plus-circle"></i> Add New
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="collapse" uib-tooltip="Collapse/Expand">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body" ng-class="{'no-padding': folders.length}">
            <div ng-show="loading && !folders.length">
                Loading...
            </div>
            <div ng-show="!loading && !folders.length">
                No shared folders.
            </div>
            <div class="table-responsive" ng-show="folders.length">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th style="width: 75px; min-width: 75px;"></th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="folder in folders">
                            <td>
                                <button type="button" ng-click="revoke(folder)" class="btn btn-link btn-table"
                                        uib-tooltip="Revoke Access">
                                    <i class="fa fa-lg fa-close"></i>
                                </button>
                                <button type="button" ng-click="edit(folder)" class="btn btn-link btn-table"
                                        uib-tooltip="View/Edit">
                                    <i class="fa fa-lg fa-pencil"></i>
                                </button>
                            </td>
                            <td>{{folder.name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title"><i class="fa fa-globe"></i> Logins</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" ng-click="addFolder()" uib-tooltip="Share New Login">
                    <i class="fa fa-plus-circle"></i> Add New
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="collapse" uib-tooltip="Collapse/Expand">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body" ng-class="{'no-padding': logins.length}">
            <div ng-show="loading && !logins.length">
                Loading...
            </div>
            <div ng-show="!loading && !logins.length">
                No shared logins.
            </div>
            <div class="table-responsive" ng-show="logins.length">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th style="width: 75px; min-width: 75px;"></th>
                            <th>Name</th>
                            <th style="width: 300px;">Username</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="login in logins">
                            <td>
                                <button type="button" ng-click="revoke(login)" class="btn btn-link btn-table"
                                        uib-tooltip="Revoke Access">
                                    <i class="fa fa-lg fa-close"></i>
                                </button>
                                <button type="button" ng-click="edit(login)" class="btn btn-link btn-table"
                                        uib-tooltip="View/Edit">
                                    <i class="fa fa-lg fa-pencil"></i>
                                </button>
                            </td>
                            <td>{{login.name}}</td>
                            <td>{{login.username}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
