﻿<section class="content-header">
    <h1>
        My Vault
        <small>{{folders.length > 0 ? folders.length - 1 : 0}} folders, {{logins.length}} logins</small>
    </h1>
</section>
<section class="content">
    <div ng-show="loading && !folders.length">
        <p>Loading...</p>
    </div>
    <div class="box" ng-repeat="folder in folders | orderBy: folderSort"
         ng-show="folders.length && (!main.searchVaultText || folderLogins.length)">
        <div class="box-header with-border">
            <h3 class="box-title">
                <i class="fa fa-folder-open"></i>
                {{folder.name}} <small>{{folderLogins.length}} logins</small>
            </h3>
            <div class="box-tools">
                <div class="btn-group">
                    <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown" aria-expanded="false"
                            uib-tooltip="Options">
                        <i class="fa fa-gear"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li>
                            <a href="#" ng-click="addLogin(folder)">Add Login</a>
                        </li>
                        <li ng-show="folder.id">
                            <a href="#" ng-click="editFolder(folder)">Edit Folder</a>
                        </li>
                        <li ng-show="canDeleteFolder(folder)">
                            <a href="#" ng-click="deleteFolder(folder)">Delete Folder</a>
                        </li>
                    </ul>
                </div>
                <button type="button" class="btn btn-box-tool" data-widget="collapse" uib-tooltip="Collapse/Expand">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body" ng-class="{'no-padding': folderLogins.length}">
            <div ng-show="!folderLogins.length">
                <p>No logins in this folder.</p>
                <button type="button" ng-click="addLogin(folder)" class="btn btn-default btn-flat">Add a Login</button>
            </div>
            <div class="table-responsive" ng-show="folderLogins.length">
                <table class="table table-striped table-hover table-selectable">
                    <thead>
                        <tr>
                            <th style="width: 75px; min-width: 75px;"></th>
                            <th>Name</th>
                            <th style="width: 300px;">Username</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="login in folderLogins = (logins | filter: { folderId: folder.id } |
                            filter: (main.searchVaultText || '') | orderBy: ['name', 'username'])">
                            <td class="actions">
                                <button type="button" ng-click="deleteLogin(login)" class="btn btn-link btn-table"
                                        uib-tooltip="Delete">
                                    <i class="fa fa-lg fa-trash"></i>
                                </button>
                                <button type="button" ng-click="editLogin(login)" class="btn btn-link btn-table"
                                        uib-tooltip="View/Edit">
                                    <i class="fa fa-lg fa-pencil"></i>
                                </button>
                            </td>
                            <td ng-click="editLogin(login)">
                                <span ng-click="$event.stopPropagation()">
                                    {{login.name}}
                                    <i class="fa fa-star text-muted" uib-tooltip="Favorite" ng-show="login.favorite"></i>
                                </span>
                            </td>
                            <td ng-click="editLogin(login)">
                                <span ng-click="$event.stopPropagation()">{{login.username}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
