﻿<div class="modal-header">
    <button type="button" class="close" ng-click="close()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="importModelLabel"><i class="fa fa-cloud-upload"></i> Import</h4>
</div>
<form name="importForm" ng-submit="importForm.$valid && import(model)" ng-show="!processing">
    <div class="modal-body">
        <div class="form-group">
            <label for="source">1. Select the source of this import file</label>
            <select id="source" name="source" class="form-control" ng-model="model.source" ng-change="setSource()">
                <option ng-repeat="option in options" value="{{option.id}}">{{option.name}}</option>
            </select>
        </div>
        <div class="callout callout-default">
            <h4><i class="fa fa-info-circle"></i> {{source.name}} Instructions</h4>
            <div ng-bind-html="source.instructions"></div>
        </div>
        <div class="form-group">
            <label for="file">2. Select the import file</label>
            <input type="file" id="file" name="file" required />
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-flat">
            Import
        </button>
        <button type="button" class="btn btn-default btn-flat" ng-click="close()">Close</button>
    </div>
</form>
<div ng-show="processing" class="modal-body text-center">
    <p><i class="fa fa-cog fa-spin fa-3x"></i></p>
    <p>Please wait. We are now importing all of your data. Do not close this window. You will be redirected to your vault when the import has completed.</p>
</div>
