﻿<section class="content-header">
    <h1>
        Subvaults
        <small>share with your organization</small>
    </h1>
</section>
<section class="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Subvaults</h3>
            <div class="box-tools">
                <button type="button" class="btn btn-primary btn-sm btn-flat">
                    New subvault
                </button>
            </div>
        </div>
        <div class="box-body">
            Some data
        </div>
    </div>
</section>
