﻿<section class="content-header">
    <h1>
        People
        <small>users for your organization</small>
    </h1>
</section>
<section class="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Organization Users</h3>
            <div class="box-tools">
                <button type="button" class="btn btn-primary btn-sm btn-flat" ng-click="invite()">
                    Invite user
                </button>
            </div>
        </div>
        <div class="box-body" ng-class="{'no-padding': users.length}">
            <div ng-show="!users.length">
                Loading...
            </div>
            <div class="table-responsive" ng-show="users.length">
                <table class="table table-striped table-hover">
                    <tbody>
                        <tr ng-repeat="user in users | orderBy: ['name', 'email']">
                            <td style="width: 70px;" valign="middle">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-cog"></i> <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="javascript:void(0)" ng-click="confirm(user)">Confirm</a>
                                        </li>
                                        <li><a href="#">Re-send Invitation</a></li>
                                        <li><a href="#" class="text-danger">Remove</a></li>
                                    </ul>
                                </div>
                            </td>
                            <td style="width: 45px;" valign="middle">
                                <img src="//www.gravatar.com/avatar/{{user.email | gravatar}}.jpg?s=45&d=mm"
                                     class="img-circle" alt="User Image">
                            </td>
                            <td valign="middle">
                                {{user.email}}
                                <div ng-if="user.name"><small class="text-muted">{{user.name}}</small></div>
                            </td>
                            <td style="width: 80px;" valign="middle">
                                {{user.type}}
                            </td>
                            <td style="width: 80px;" valign="middle">
                                {{user.status}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
