﻿<div class="modal-header">
    <button type="button" class="close" ng-click="close()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title"><i class="fa fa-user"></i> Invite User</h4>
</div>
<form name="inviteForm" ng-submit="inviteForm.$valid && submit(model)" api-form="submitPromise">
    <div class="modal-body">
        <p>
            Invite a new user to your organization by entering their bitwarden account email address below. Users must already
            be registered with bitwarden before you can invite them to your organization.
        </p>
        <div class="callout callout-danger validation-errors" ng-show="inviteForm.$errors">
            <h4>Errors have occured</h4>
            <ul>
                <li ng-repeat="e in inviteForm.$errors">{{e}}</li>
            </ul>
        </div>
        <div class="form-group" show-errors>
            <label for="email">Email</label>
            <input type="email" id="email" name="Email" ng-model="model.email" class="form-control" required api-field />
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-flat" ng-disabled="inviteForm.$loading">
            <i class="fa fa-refresh fa-spin loading-icon" ng-show="inviteForm.$loading"></i>Send Invite
        </button>
        <button type="button" class="btn btn-default btn-flat" ng-click="close()">Close</button>
    </div>
</form>
 