<header class="main-header" ng-controller="topNavController as topNav">
    <a ui-sref="backend.user.vault" class="logo">
        <span class="logo-mini"><i class="fa fa-shield"></i></span>
        <span class="logo-lg"><i class="fa fa-shield"></i> <b>bit</b>warden</span>
    </a>
    <nav class="navbar navbar-static-top" role="navigation">
        <a class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li><a ui-sref="frontend.logout">Log Out</a></li>
            </ul>
        </div>
    </nav>
</header>

<aside class="main-sidebar" ng-controller="sideNavController as sideNav">
    <section class="sidebar">
        <div class="user-panel">
            <div class="pull-left image">
                <img src="//www.gravatar.com/avatar/{{ userProfile.email | gravatar }}.jpg?s=45&d=mm"
                     class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>{{userProfile.extended && userProfile.extended.name ? userProfile.extended.name : userProfile.email}}</p>
                <a ui-sref="frontend.logout">Log Out</a>
            </div>
        </div>
        <form class="sidebar-form">
            <label for="search" class="sr-only">Search</label>
            <div class="form-group has-feedback">
                <input type="text" id="search" class="form-control" placeholder="Search vault..."
                       ng-focus="searchVault()" ng-model="main.searchVaultText" />
                <span class="fa fa-search form-control-feedback" aria-hidden="true"></span>
            </div>
        </form>
        <ul class="sidebar-menu">
            <li class="header">WEB VAULT</li>
            <li class="treeview" ng-class="{active: $state.includes('backend.user.vault')}">
                <a ui-sref="backend.user.vault"><i class="fa fa-lock fa-fw"></i> <span>My Vault</span></a>
                <ul class="treeview-menu" ng-class="{'menu-open': $state.includes('backend.user.vault')}">
                    <li>
                        <a href="javascript:void(0)" ng-click="addLogin()">
                            <i class="fa fa-plus-circle fa-fw"></i> New Login
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" ng-click="addFolder()">
                            <i class="fa fa-folder fa-fw"></i> New Folder
                        </a>
                    </li>
                </ul>
            </li>
            <li class="treeview"
                ng-class="{active: $state.is('backend.user.shared') || $state.is('backend.user.sharedMe')}">
                <a ui-sref="backend.user.shared">
                    <small class="label pull-right bg-yellow">beta</small>
                    <i class="fa fa-share-alt fa-fw"></i> <span>Sharing Center</span>
                </a>
                <ul class="treeview-menu" ng-class="{'menu-open': $state.is('backend.user.shared')
                        || $state.is('backend.user.sharedMe')}">
                    <li ng-class="{active: $state.is('backend.user.shared')}">
                        <a ui-sref="backend.user.shared">
                            <i class="fa fa-fw fa-circle-o"></i> My Shares
                        </a>
                    </li>
                    <li ng-class="{active: $state.is('backend.user.sharedMe')}">
                        <a ui-sref="backend.user.sharedMe">
                            <i class="fa fa-fw fa-circle-o"></i> Shared with Me
                        </a>
                    </li>
                </ul>
            </li>
            <li class="treeview" ng-class="{active: $state.is('backend.user.tools')}">
                <a ui-sref="backend.user.tools"><i class="fa fa-wrench fa-fw"></i> <span>Tools</span></a>
            </li>
            <li class="treeview"
                ng-class="{active: $state.is('backend.user.settings') || $state.is('backend.user.settingsDomains')}">
                <a ui-sref="backend.user.settings"><i class="fa fa-cogs fa-fw"></i> <span>Settings</span></a>
                <ul class="treeview-menu" ng-class="{'menu-open': $state.is('backend.user.settings')
                        || $state.is('backend.user.settingsDomains')}">
                    <li ng-class="{active: $state.is('backend.user.settingsDomains')}">
                        <a ui-sref="backend.user.settingsDomains">
                            <i class="fa fa-fw fa-circle-o"></i> Domain Rules
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="https://help.bitwarden.com/" target="_blank"
                   analytics-on="click" analytics-event="Clicked Get Help">
                    <i class="fa fa-info-circle fa-fw"></i> <span>Get Help</span>
                </a>
            </li>
            <li class="header">
                <small class="label pull-right bg-green">FREE</small>
                MOBILE APPS
            </li>
            <li>
                <a href="https://itunes.apple.com/us/app/bitwarden-free-password-manager/id1137397744?mt=8"
                   target="_blank" analytics-on="click" analytics-event="Clicked iOS">
                    <i class="fa fa-apple fa-fw"></i> <span>iOS</span>
                </a>
            </li>
            <li>
                <a href="https://play.google.com/store/apps/details?id=com.x8bit.bitwarden"
                   target="_blank" analytics-on="click" analytics-event="Clicked Android">
                    <i class="fa fa-android fa-fw"></i> <span>Android</span>
                </a>
            </li>
            <li class="header">
                <small class="label pull-right bg-green">FREE</small>
                BROWSER EXTENSIONS
            </li>
            <li>
                <a href="https://chrome.google.com/webstore/detail/bitwarden-free-password-m/nngceckbapebfimnlniiiahkandclblb"
                   target="_blank" analytics-on="click" analytics-event="Clicked Chrome">
                    <i class="fa fa-chrome fa-fw"></i> <span>Chrome</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)"
                   target="_blank" analytics-on="click" analytics-event="Clicked Firefox">
                    <small class="label pull-right bg-gray">coming very soon</small>
                    <i class="fa fa-firefox fa-fw"></i> <span>Firefox</span>
                </a>
            </li>
            <li>
                <a href="https://addons.opera.com/extensions/details/bitwarden-free-password-manager/"
                   target="_blank" analytics-on="click" analytics-event="Clicked Opera">
                    <i class="fa fa-opera fa-fw"></i> <span>Opera</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)"
                   target="_blank" analytics-on="click" analytics-event="Clicked Edge">
                    <small class="label pull-right bg-gray">coming soon</small>
                    <i class="fa fa-edge fa-fw"></i> <span>Edge</span>
                </a>
            </li>
        </ul>
    </section>
</aside>

<div class="content-wrapper" ui-view>
</div>