﻿<!DOCTYPE html>
<html ng-app="bit">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <base href="/" />

    <title page-title>bitwarden.com Password Manager</title>

    <!-- @if true !>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <meta name="x-stylesheet-test-bs" content="" class="invisible" />
    <script>!function(a,b,c){var d,e=document,f=e.getElementsByTagName('SCRIPT'),g=f[f.length-1].previousElementSibling,h=e.defaultView&&e.defaultView.getComputedStyle?e.defaultView.getComputedStyle(g):g.currentStyle;if(h&&h[a]!==b)for(d=0;d<c.length;d++)e.write('<link rel="stylesheet" href="'+c[d]+'"/>')}('visibility','hidden',['lib\/bootstrap\/css\/bootstrap.min.css?v=<!-- @echo cacheTag !>']);</script>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <meta name="x-stylesheet-test-fa" content="" class="fa" />
    <script>!function(a,b,c){var d,e=document,f=e.getElementsByTagName('SCRIPT'),g=f[f.length-1].previousElementSibling,h=e.defaultView&&e.defaultView.getComputedStyle?e.defaultView.getComputedStyle(g):g.currentStyle;if(h&&h[a]!==b)for(d=0;d<c.length;d++)e.write('<link rel="stylesheet" href="'+c[d]+'"/>')}('font-family','FontAwesome',['lib\/font-awesome\/css\/font-awesome.min.css?v=<!-- @echo cacheTag !>']);</script>

    <link rel="stylesheet" href="css/vault.min.css?v=<!-- @echo cacheTag !>" />
    <!-- @endif -->
    <!-- @exclude -->
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.css" />

    <link rel="stylesheet" href="css/vault.css" />
    <!-- @endexclude -->
</head>
<body ng-controller="mainController as main" class="layout-boxed skin-blue sidebar-mini {{main.bodyClass}}">
    <div ui-view></div>

    <!-- @if true !>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script>(window.jQuery||document.write('<script src="lib\/jquery\/jquery.min.js?v=<!-- @echo cacheTag !>"><\/script>'));</script>

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script>((window.jQuery&&window.jQuery.fn&&window.jQuery.fn.modal)||document.write('<script src="lib\/bootstrap\/js\/bootstrap.min.js?v=<!-- @echo cacheTag !>"><\/script>'));</script>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script>(window.angular||document.write('<script src="lib\/angular\/angular.min.js?v=<!-- @echo cacheTag !>"><\/script>'));</script>

    <script src="js/lib.min.js?v=<!-- @echo cacheTag !>"></script>
    <script src="js/app.min.js?v=<!-- @echo cacheTag !>"></script>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-81915606-3', 'auto');
    </script>
    <!-- @endif -->
    <!-- @exclude -->
    <script src="lib/jquery/jquery.js"></script>
    <script src="lib/bootstrap/js/bootstrap.js"></script>
    <script src="lib/admin-lte/js/app.js"></script>

    <script src="lib/forge/forge.js"></script>
    <script src="lib/papaparse/papaparse.js"></script>
    <script src="lib/clipboard/clipboard.js"></script>

    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-cookies/angular-cookies.js"></script>
    <script src="lib/angular-messages/angular-messages.js"></script>
    <script src="lib/angular-jwt/angular-jwt.js"></script>
    <script src="lib/angular-resource/angular-resource.js"></script>
    <script src="lib/angular-ui-router/angular-ui-router.js"></script>
    <script src="lib/angular-bootstrap/angular-bootstrap-tpls.js"></script>
    <script src="lib/angular-md5/angular-md5.js"></script>
    <script src="lib/angular-toastr/angular-toastr.tpls.js"></script>
    <script src="lib/angular-bootstrap-show-errors/showErrors.js"></script>
    <script src="lib/ngstorage/ngStorage.js"></script>
    <script src="lib/ngclipboard/ngclipboard.js"></script>
    <script src="lib/angulartics/angulartics.js"></script>
    <script src="lib/angulartics/angulartics-ga.js"></script>

    <script src="app/app.js"></script>
    <script src="app/settings.js"></script>
    <script src="app/config.js"></script>
    <script src="app/apiInterceptor.js"></script>

    <script src="app/directives/directivesModule.js"></script>
    <script src="app/directives/pageTitleDirective.js"></script>
    <script src="app/directives/apiFormDirective.js"></script>
    <script src="app/directives/apiFieldDirective.js"></script>
    <script src="app/directives/masterPasswordDirective.js"></script>
    <script src="app/directives/passwordMeterDirective.js"></script>
    <script src="app/directives/passwordViewerDirective.js"></script>

    <script src="app/services/servicesModule.js"></script>
    <script src="app/services/tokenService.js"></script>
    <script src="app/services/apiService.js"></script>
    <script src="app/services/authService.js"></script>
    <script src="app/services/cryptoService.js"></script>
    <script src="app/services/cipherService.js"></script>
    <script src="app/services/validationService.js"></script>
    <script src="app/services/passwordService.js"></script>
    <script src="app/services/importService.js"></script>

    <script src="app/global/globalModule.js"></script>
    <script src="app/global/mainController.js"></script>
    <script src="app/global/topNavController.js"></script>
    <script src="app/global/sideNavController.js"></script>

    <script src="app/accounts/accountsModule.js"></script>
    <script src="app/accounts/accountsLoginController.js"></script>
    <script src="app/accounts/accountsLogoutController.js"></script>
    <script src="app/accounts/accountsRegisterController.js"></script>
    <script src="app/accounts/accountsPasswordHintController.js"></script>
    <script src="app/accounts/accountsRecoverController.js"></script>

    <script src="app/vault/vaultModule.js"></script>
    <script src="app/vault/vaultController.js"></script>
    <script src="app/vault/vaultEditLoginController.js"></script>
    <script src="app/vault/vaultAddLoginController.js"></script>
    <script src="app/vault/vaultEditFolderController.js"></script>
    <script src="app/vault/vaultAddFolderController.js"></script>

    <script src="app/shared/sharedModule.js"></script>
    <script src="app/shared/sharedController.js"></script>
    <script src="app/shared/sharedMeController.js"></script>

    <script src="app/organization/organizationModule.js"></script>
    <script src="app/organization/organizationDashboardController.js"></script>
    <script src="app/organization/organizationPeopleController.js"></script>
    <script src="app/organization/organizationPeopleInviteController.js"></script>
    <script src="app/organization/organizationSubvaultsController.js"></script>

    <script src="app/settings/settingsModule.js"></script>
    <script src="app/settings/settingsController.js"></script>
    <script src="app/settings/settingsChangePasswordController.js"></script>
    <script src="app/settings/settingsChangeEmailController.js"></script>
    <script src="app/settings/settingsTwoFactorController.js"></script>
    <script src="app/settings/settingsSessionsController.js"></script>
    <script src="app/settings/settingsDomainsController.js"></script>
    <script src="app/settings/settingsAddEditEquivalentDomainController.js"></script>
    <script src="app/settings/settingsDeleteController.js"></script>
    <script src="app/settings/settingsCreateOrganizationController.js"></script>

    <script src="app/tools/toolsModule.js"></script>
    <script src="app/tools/toolsController.js"></script>
    <script src="app/tools/toolsImportController.js"></script>
    <script src="app/tools/toolsExportController.js"></script>
    <script src="app/tools/toolsAuditsController.js"></script>
    <!-- @endexclude -->
</body>
</html>
